/* ELEMENTY OGÓLNE */

*{
    box-sizing: border-box;
}

html
{
    font-family: sans-serif;
}

body
{
    padding: 0px;
    margin: 0px;
}



/* PANEL GÓRNY */

#panel_gora
{
    height: 70px;
    background-color: #cccccc;
    display:flex;
    border-bottom: 3px solid #bbbbbb;
}

#panel_gora a
{
    text-decoration: none;
}

#logo
{
    width: 350px;
    border-right: 2px dotted #999999;
}

h1
{
    margin-top:0px;
    padding-top:0px;
    text-align: center;
    padding: 15px;
    text-shadow:2px 2px 1px #999999;
    color:rgb(0, 212, 255);
    font-size:33px;
    min-width: 280px;
}

#menu
{
    padding:25px;
    min-width: 340px;
}

.menu_przycisk
{
    padding:4px;
    margin:20px;
    text-decoration: none;
    font-size:18px;
    color:#444444;
}