html {
    font-family: sans-serif;
}


#mapa {
    float: none;
    margin-top: 10px;
    margin-left: 10px;
    border:2px solid #1a639b;
    border-radius: 2px;
}


/* WIDOK DLA WĄSKICH OKIEN I SMARTFONÓW */

#panel_boczny {
    margin-top: 10px;
    font-size: 50px;
    height: 500px;
    background-color: #a0c9ea;
    color: #175584;
    margin-right: 5px;
    padding: 10px;
    border: 2px solid #1a639b;
    border-radius: 2px;
    text-align: center;
    float: none;
    width: 1000px;
    margin-left: 10px;
}

#tytul {
    font-size: 42px;
}

h3 {
    margin: 25px auto;
}

#pytanie {
    margin: 30px 0px 30px 40px;
    text-align: left;
    font-size: 42px;
}

#pytanie p {
    margin: 0px;
    font-size: 40px;
    float: left
}

#pytanie_panstwo {
    font-weight: bold;
    font-size: 40px;
    padding-left: 10px;
    clear: both;
    display: inline;
}

#div_wynik {
    margin-top: 30px;
    height: 60px;
    font-size: 30px;
}

#div_wynik_ {
    font-size: 30px;
    height: 50px;
}

#div_autor {
    margin-top: 30px;
    font-size: 30px;
}

h3 {
    text-shadow: 2px 2px 1px #9da8b4;
}



/* WIDOK DLA NORMALNYCH OKIEN */

@media only screen and (min-width: 1456px) {

    #panel_boczny {
        font-size: 30px;
        height: 614px;
        background-color: #a0c9ea;
        color: #175584;
        margin-right: 5px;
        padding: 10px;
        border: 2px solid #1a639b;
        border-radius: 2px;
        text-align: center;
        float: right;
        width: 400px;
        margin-bottom: 10px;
    }

    #mapa {
        float: left;
    }

    #tytul {
        font-size: 32px;
    }

    #pytanie {
        margin:30px 0;
        font-size: 38px;
        text-align: center;
        clear: both;
    }

    #pytanie p {
        text-align: center;
        margin: 0px;
        font-size: 34px;
        float:none;
    }

    #pytanie_panstwo {
        text-align: center;
        font-weight: bold;
        padding-left:0px;
        font-size:34px
    }

    #div_wynik {
        margin-top: 30px;
        height: 60px;
        font-size: 30px;
    }

    #div_wynik_ {
        font-size: 22px;
        height: 150px;
    }

    #div_autor {
        margin-top: 25px;
        font-size: 25px;
    }

    h3 {
        text-shadow: 2px 2px 1px #9da8b4;
    }
}