main
{
  width: fit-content;
  margin: 50px auto;
  background-color: aliceblue;
  padding: 30px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, p, div#result
{
  text-align: center;
}

div#result
{
  margin: 30px 0;
  height: 50px;
  width: fit-content;
}

input#input
{
  width: 220px;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
}

button, .button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: Font1;
  letter-spacing: 2.5px;
  font-size: 15px;
  outline: none;

  border: none;
  background-color: rgb(209, 229, 255);
  border-radius: 24px;
  
  padding: 6px 10px;
  transition: 0.7s;
  cursor: pointer;
  margin: 10px;
  width: fit-content;
  width: -moz-fit-content;
}
button:hover, .button:hover {
  background-color: rgb(0, 0, 92);
  font-weight: bold;
  color: aliceblue;
}
