main
{
  width: 400px;
  margin: 50px auto;
  background-color: aliceblue;
  padding: 30px 20px;
  border-radius: 30px;
  flex-direction: column;
  text-align: center;
}

form
{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

h2, p
{
  text-align: center;
  margin: 10px auto;
}

div#result
{
  margin: 30px auto;
  text-align: center;
  height: 50px;
  width: fit-content;
}

input#input
{
  width: 220px;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
  margin-bottom:20px;
}

button, .button {
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-family: Font1;
  letter-spacing: 2.5px;
  font-size: 15px;
  outline: none;

  border: none;
  background-color: rgb(209, 229, 255);
  border-radius: 24px;
  
  padding: 6px 10px;
  transition: 0.7s;
  cursor: pointer;
}

.button_big
{
  width:250px
}

.button_small
{
  width:120px
}


button:hover, .button:hover {
  background-color: rgb(0, 0, 92);
  font-weight: bold;
  color: aliceblue;
}
