#special_signs {
  display: flex;
  justify-content: center;
}
#special_signs button {
  display: flex;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  border: none;
  font-weight: lighter;
}
#special_signs button:hover, #special_signs button:focus {
  transform: scale(0.9);
}