* 
{
    padding: 0;
    margin: 0;
}



/* FONTY */
@font-face 
{
    font-family: Font1;
    src: url(../fonty/TitilliumWeb-ExtraLight.ttf);
}


/* MENU GÓRNE */
header
{
    padding: 25px;
    color: rgb(0, 0, 92);
    background-color: aliceblue; 
    display: flex;
}
h1
{
    font-family: Font1;
    font-size: 28px;
    letter-spacing: 8px;
    padding: 0 15px;
}

h1 a
{
    color: rgb(0, 0, 92);
    text-decoration: none;
}

.logo 
{
    width: 75px;
    display: flex;
    justify-content: center;
}
nav 
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}
nav a
{
    text-decoration: none;
    color: rgb(0, 0, 92);
    margin-top: 9px;
    font-size: 20px;
    justify-content: space-evenly;
    float: left;
    transition: 0.7s;
    text-align: center;
    margin-right: 50px;
}
nav a:hover 
{
    scale: 115%;
}
nav a:active 
{
    color: red;
}





/* RESZTA ELEMENTÓW */
html
{
    background-color: rgb(209, 229, 255);
    font-family: Font1;
}

footer
{
    margin-top:100px;
    background-color: aliceblue; 
    padding:10px;
    position:fixed;
    bottom:0;
    width: 100%;
}

#footer1
{
    width:50%;
    float: left;
    text-align: left;
}

#footer2
{
    width:49%;
    float: left;
    text-align: right;
}

.przygotowanie
{
    opacity: 0.7;
}

.przygotowanie:hover
{
    box-shadow:0px 0px 0px 0px #a7b7cc;
}