/* MENU Z WYBOREM PRZEDMIOTU */
section {
    padding: 15px;
    width: 350px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 12px;
    margin: 3px;
}

section h2
{
    float: left;
    color: rgb(0, 0, 92);
    margin:18px;
    text-align: center;
    width:320px;
}

section p
{
    font-family: Font1;
    clear: both;
    color:black;
    text-align:justify;
    line-height: 1.3;
    letter-spacing: 1.2x;
    word-spacing: 3.5px;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:30px;
}